{% extends 'book/base.html' %}
{% block title %} Home {% endblock %}



{% block body %}
    <b><h1>Books:</h1></b>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Desciption</th>
            <th scope="col">Author</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        {% for book in books %}
        <tr>
            <th scope="row">{{book.id}}</th>
            <td>{{book.title}}</td>
            <td>{{book.description}}</td>
            <td>{{book.author}}</td>
            <td>
                <a href="{% url 'book:delete_book' book.id %}" style="text-decoration: none; color: white;"><button class="btn btn-danger">Delete</button></a>
                <a href="{% url 'book:edit_book' book.id %}" style="text-decoration: none; color: white;"><button class="btn btn-warning">Edit</button></a>
                <a href="{% url 'book:see_book' book.id %}" style="text-decoration: none; color: white;"><button class="btn btn-primary">See</button></a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navbar" style="margin: 3vh;">
        <a href="{% url 'book:create-book' %}" style="text-decoration: none; color: white;"><button class="btn btn-success">Create Book</button></a>
    </div>
{% endblock %}